<%- include('./partials/header') %>
<div class="ui huge main text container segment">
    <div class="ui huge header">New Blog</div>
    <form action="/blogs" method="POST"> 
        <input type="text" name="blog[title]" placeholder="Title">
        <input type="text" name="blog[image]" placeholder="Image">
        <input type="text" name="blog[body]" placeholder="Enter Text Here!">
        <input type="submit">
    </form>
    
    <%- include('./partials/footer') %>